/*
 * Debugging styles
 */
.gwt-DialogBox {
	z-index: 10000;
}

/*
 * Application styles
 */
body {
	font-family: 'Gudea', monospace;
}

h1 {
	font-size: 40px;
}

input {
	display: block;
	width: 100%;
	min-height: 45px;
	box-sizing: border-box;
}

input,.result,.error,.replaced {
	padding: 10px;
	font-size: 26px;
	line-height: 30px;
	font-family: monospace;
	white-space: pre-wrap;
	overflow: hidden;
	word-wrap: break-word; 
}

.error {
	background-color: #FFB3B3;
}

.inputs {
	margin-top: 50px;
	margin-bottom: 25px;
}

.matches {
	background-color: #D9FFE5;
}

.replaced {
	background-color: #BFE0FF;
}

.highlight {
	padding-bottom: 2px;
	border-color: #888888;
	border-bottom: solid 2px;
	margin-bottom: 2px;
	display: inline-block;
}